<div class="card">
{{#name}}
    <div class="card-body">
        <h2 class="card-title">{{name}}</h2>
{{#body}}
        {{{body}}}
{{/body}}
    </div>
{{/name}}
</div>

{{#members}}
    <script>
        (function(g, v, w, d, s, a, b) {
            w['rumbleTalkMessageQueueName'] = g;
            w[g] = w[g] ||
            function() {
            (w[g].q = w[g].q || []).push(arguments)
            };
            a = d.createElement(s);
            b = d.getElementsByTagName(s)[0];
            a.async = 1;
            a.src = 'https://d1pfint8izqszg.cloudfront.net/api/' + v + '/sdk.js';
            b.parentNode.insertBefore(a, b);
        })('rtmq', 'v1.0.2', window, document, 'script');

        rtmq(
            'login',
            {
                hash: '{{code}}',
                username: '{{username}}',
                image: '{{userimage}}'
            }
        );
    </script>
{{/members}}

<div style="
    padding-top: 15px;
    {{#height}}
    height: {{height}}px;
    {{/height}}
    {{#width}}
    width: {{width}}px;
    {{/width}}
">
    <div id="rt-{{chatmd5}}"></div>
    <script src="https://rumbletalk.com/client/?{{code}}"></script>
</div>